@import "tailwindcss";

@layer base {
  :root {
    --background: #27005D;
    --surface: #1b0042;
    --primary: #9400FF;
    --foreground: #FFFFFF;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #27005D;
    color: #FFFFFF;
    overscroll-behavior: none;
  }
}
