@import "tailwindcss";

@layer base {
  :root {
    --background: #B6FFFA;
    --surface: #FFFFFF;
    --primary: #687EFF;
    --foreground: #0B2447;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #B6FFFA;
    color: #0B2447;
    overscroll-behavior: none;
  }
}
