@import "tailwindcss";

@layer base {
  :root {
    --background: #F3F8FF;
    --surface: #FFFFFF;
    --primary: #E26EE5;
    --foreground: #49108B;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #F3F8FF;
    color: #49108B;
    overscroll-behavior: none;
  }
}
